@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

html {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Yellow);
}

.card-component {
    background-color: var(--White);
    border-radius: 20px;
    width: 320px;
    text-align: center;
    box-shadow: 10px 10px var(--Gray-950);
    padding: 1rem 1rem 2rem 1rem;
}

#illustration-article {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

#text-section {
    text-align: left;
    padding-top: 0.8rem;
}

p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

h1:hover {
    color: var(--Yellow);
    cursor: pointer;
}

#category {
    font-weight: 800;
    background-color: var(--Yellow);
    color: var(--Gray-950);
    display: inline-block;
    padding: 0.3rem;
    border-radius: 5px;
}

#description {
    color: var(--Gray-500);
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

#image-avatar {
    width: 2rem;
    object-fit: contain;
}

#avatar-name {
    font-weight: 800;
    padding: 0 1rem;
}

.attribution {
    font-weight: 300;
    font-size: 0.5rem;
    padding-top: 2rem;
}